<div class="bg-video-overlay mt-5 text-center">
  <!-- heading -->
  <h1 class="heading-text">Information Web Programming Class</h1>
</div>

<!-- *************************************************************************** -->
<!-- Content Task -->
<div class="task mt-5">
  <p class="tittle">HomeWork</p>
  <% tasks.forEach(task => { %>
    <div class="container-task" onclick="detailTask()">
      <div class="content">
        <p class="task-tittle"><%= task.tittle %></p>
        <p class="dateline"><%= task.dateline.toDateString() %></p>
      </div>
    </div>
  <% }) %>
</div>

<% tasks.forEach(task => { %>

<!-- *************************************************************************** -->
<!-- detail task -->
<div id="detail-task" class="detail-task">
  <div class="detail-task-content">
    <div class="headline">
      <p class="details">Details</p>
      <button class="back">Back</button>
    </div>
    <div class="content-details">
      <p class="content-tittle">Name Task:</p>
      <div class="box"><%= task.tittle %></div>
      <p class="content-tittle">Dateline:</p>
      <div class="box"><%= task.dateline.toDateString() %> %></div>
      <p class="content-tittle">Describe:</p>
      <div class="box"><%= task.description %></div>
    </div>
    <a href="<%= task.link %>" target="_blank %>"
      ><button type="submit" class="submit">Send Link</button></a
    >
  </div>
</div>
<% }) %>

<script>
  // note: click task
  const detailTask = () => {
    document.getElementById("detail-task").style.display = "block";
  };

  // note: button back
  document.querySelector(".back").addEventListener("click", () => {
    document.getElementById("detail-task").style.display = "none";
  });
</script>
