<div class="table-container">
  <table class="table">
    <thead>
      <tr>
        <th>No</th>
        <th>Tittle</th>
        <th>Dateline</th>
        <th>action</th>
      </tr>
    </thead>
    <tbody>
      <% tasks.forEach((task, i) => { %>
      <tr>
        <td><%= i +1 %></td>
        <td><%= task.tittle %></td>
        <td><%= task.dateline.toDateString() %></td>
        <td>
          <a href="/task/edit/<%= task.id %>" class="btn btn-primary badge">Edit</a>
          <a href="/task/delete/<%= task.id %>" class="btn btn-danger badge ms-2">Delete</a>
        </td>
      </tr>
      <% }) %>
    </tbody>
  </table>
  <a
    href="/task/create"
    class="btn btn-primary mb-2 mt-5"
    style="background: #ce3456; border: none"
    >Tambah Data Contact</a
  >
</div>
